body{
	background:url(images/hack.jpg); 
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat; 
}

section{
	color: #2f2f2f;
	background-color: none;
	height: 250px;
	width: 250px;
	display: inline-block;
	text-align: center;
	margin: 10px 10px 10px 10px;
	padding-top: 10px;
	border: 1px black solid;
}

.vak{
	height: 100%;
	width: 850px;
	border: none;
}

.block_1{
	background:url(images/ian.jpg);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_2{
	background:url(images/cv.jpg);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_3{
	background:url(images/winxclub.jpg);
	background-repeat: no-repeat; 

}

.block_4{
	background:url(images/mastermind.png);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_5{
	background:url(images/calculator.png);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_6{
	background:url(images/layout.png);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_7{
	background:url(images/handy.png);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_8{
	background:url(images/recepten.png);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_9{
	background:url(images/devloot.png);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_10{
	background:url(images/grid.png);
	background-repeat: no-repeat;
	background-size: cover;  
}

p {
	position: absolute;
	top: 284px;
	left: 375px;
}