body{
	background:url(hack.jpg); 
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat; 
}

section{
	color: #2f2f2f;
	background-color: none;
	height: 250px;
	width: 250px;
	display: inline-block;
	text-align: center;
	margin: 10px 10px 10px 10px;
	padding-top: 10px;
	border: 1px black solid;
}

.vak{
	height: 100%;
	width: 850px;
	border: none;
}

.block_1{
	background:url(ian.jpg);
	background-repeat: no-repeat;
	background-size: cover;  
}

.block_2{
	background:url(cv.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

.block_3{
	background:url(winxclub.jpg);
	background-repeat: no-repeat;

}

.block_4{
	background:url(mastermind.png);
	background-repeat: no-repeat;
	background-size: cover; 
}

.block_5{
	background:url(calculator.png);
	background-repeat: no-repeat;
	background-size: cover; 
}

.block_6{
	background:url(layout.png);
	background-repeat: no-repeat;
	background-size: cover; 
}

.block_7{
	background:url(handy.png);
	background-repeat: no-repeat;
	background-size: cover; 
}

.block_8{
	background:url(recepten.png);
	background-repeat: no-repeat;
	background-size: cover; 
}

.block_9{
	background:url(devloot.png);
	background-repeat: no-repeat;
	background-size: cover; 
}

.block_10{
	background:url(grid.png);
	background-repeat: no-repeat;
	background-size: cover; 
}