
body {
	background:url(tuin.jpg); 
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat; }
}

h1 {
	color: red;text-align;
}

p {
	font-family: arial;font-size: 18px;
}

img{
	float: right;
}

section{
	color: white;
}